body, html {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

#app {
    max-width: 960px;
    margin: auto;
    text-align: center;
}

.input-group, .time-input-group {
    margin: 20px 0;
}

input, button {
    margin: 10px;
    padding: 8px;
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #003875;
}

#resultFromScore, #timeResult {
    margin-top: 20px;
    font-size: 18px;
}

/* Стили для таблицы значений */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

/* Стили для заголовочных ячеек */
th {
    background-color: #0056b3; /* Синий цвет фона, как у кнопок */
    color: white; /* Белый текст */
}

/* Стили для первой заголовочной ячейки таблицы */
table tr:first-child th {
    background-color: #ff8c00; /* Оранжевый цвет для отличия */
}

/* Четные строки таблицы для лучшей читаемости */
tr:nth-child(even) {
    background-color: #f2f2f2;
}
