body, html {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

#app {
    max-width: 960px;
    margin: auto;
    text-align: center;
}

.input-group, .time-input-group {
    margin: 20px 0;
}

input, button {
    margin: 10px;
    padding: 8px;
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #003875;
}

#result, #timeResult {
    margin-top: 20px;
    font-size: 18px;
}

/* Стили для таблицы значений */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #0056b3;
    color: white;
}

/* Оформление первой колонки со временем */
th:first-child, td:first-child {
    background-color: #ff8c00; /* Темно-оранжевый цвет для первой колонки */
    color: white;
}

/* Оформление заголовочной строки */
tr:first-child th {
    background-color: #0056b3; /* Синий цвет для заголовков */
    color: white;
}

/* Четные строки таблицы */
tr:nth-child(even) td {
    background-color: #f2f2f2;
}

/* Нечетные строки таблицы */
tr:nth-child(odd) td {
    background-color: #fff;
}
