body, html {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}

#app {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.input-group span {
    font-weight: bold;
}

#valueTable {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.column {
    width: 22%; /* Adjust the width as needed */
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.header {
    font-weight: bold;
    margin-bottom: 10px;
}
